@font-face {
    font-family: "Dana";
    src: url("/fonts/dana-regular.woff2") format("woff2");
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Dana";
    src: url("/fonts/dana-bold.woff2") format("woff2");
    font-weight: 700;
    font-style: normal;
}